.body{
  line-height: auto;
  background-color: #1E1E1E;
}

.mainPage {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 121px;
  gap: 23px;
  position: relative;
  width: 1427px auto;
  height: 863px auto;
  background: #1E1E1E;
}

.title {
  width: 337px;
  height: 61px;
  font-family: 'Calibri';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  color: #A0A0A0;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.subTitle {
  width: 293px;
  height: 31px;
  font-family: 'Calibri';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 60px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  text-decoration-line: underline;
  color: #A0A0A0;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* Tab Container */
.tabsPanel {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 1185.31px;
  height: 677px;
  position: relative;
  /* Inside auto layout */
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.tabPanel1 {
  width: 592px;
  height: 71px;
  background: #FFFFFF;
  padding: 11px 0px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.tabPanel2 {
  width: 592px;
  height: 71px;
  background: #FFFFFF;
  padding: 11px 246px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 592px;
  overflow: hidden;
}

ul.tabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

ul.tabs li {
  color: #A0A0A0;
  display: inline-block;
  cursor: pointer;

  line-height: 42px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

ul.tabs li.current {
  background: #A0A0A0;
  color: #474646;
}


.tabContent {
  display:none;
  width: 1185px;
  height: 606px;
  background: #303031;
  /* Alignment */
  position: relative;
  text-align: center;
  align-items: center;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 1;
}

.tabContent.current{
  display: inherit;
}