<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=auto, height=auto, initial-scale=2.0" />
  <title>Sample local web Application with Python Flask and MySQL of docker official image</title>
  <link href="https://fonts.googleapis.com/css?family=Calibri&display=swap" rel="stylesheet" />
  <link href="../static/home.css" rel="stylesheet" />
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <!-- <srcipt src="../app.js"></srcipt> -->
</head>
<body>
  <div class="mainPage">
    <span class="title">MyJobHistory </span>
    <span class="subTitle">Sample Web Application</span>
    <!-- Tab Panel -->
    <div class="tabsPanel">
      <ui class="tabs">
        <li class="tablink current" data-tab="tabContent1">
          <a>Job History</a>
        </li>
        <li class="tablink" data-tab="tabContent2">
          <a>Job Summary</a>
        </li>
      </ui>
      <div id="tabContent1" class="tabContent current">1. Job History Table</div>
      <div id="tabContent2" class="tabContent">2. Job Summary Table</div>
    </div>
  </div>
</body>
</html>